---
const pageTitle = "Landing";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle = {pageTitle}>
    <!-- astro <slot /> -->
    <p style="strong">Lorem ipsum.</p>
</BaseLayout>