---
const { bandTitle } = Astro.props;
---
<section class = "full__purple_band">
    <div class = "container full__three_column gap__3_rem">
        <div class = "span__2_col">
<<<<<<< HEAD
            <h1 id = {bandTitle.replace(/\s+/g, '-').toLowerCase()}>{bandTitle}</h1>
=======
            <h1 id = {bandTitle}>{bandTitle}</h1>
>>>>>>> 012f99c4a7a7084ff6ca25001830cb9f3bbe1114
            <p>
                <slot/>
            </p>
        </div>
        <img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
    </div>
</section>
