---
import Navigation from './Navigation.astro'
---
<header>
    <strong>WebCo</strong>
    <form id = "search">
        <input name = "search" type = "text" class = "input_rounded">
    </form>
    <nav>
        <Navigation />
    </nav>
</header>
