---
import Toggle from './Toggle.jsx';
---
<div id = "menu" class = "nav">
    <a href = "/">Home</a>
    <a href = "#Film & Acting">Film & Acting</a>
    <a href = "/editing">Editing</a>
    <a href = "/youtube">YouTube</a>
    <a href = "/contact">Contact</a>
    
    <Toggle client:load />
</div>