---
import Toggle from './Toggle.jsx';
---
<div id = "menu" class = "nav">
    <a href = "/">Home</a>
<<<<<<< HEAD
    <a href = "#film-&-acting">Film & Acting</a>
=======
    <a href = "#Film & Acting">Film & Acting</a>
>>>>>>> 012f99c4a7a7084ff6ca25001830cb9f3bbe1114
    <a href = "/editing">Editing</a>
    <a href = "/youtube">YouTube</a>
    <a href = "/contact">Contact</a>
    
    <Toggle client:load />
</div>