---
import ThemeToggle from '../components/ThemeToggle.jsx'; 
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lukas Deemer - Portfolio</title>
    
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <header class="main-header">
      <a href="#home" class="profile-link">
        <img src="https://picsum.photos/seed/lukas/150/150" alt="Mini Headshot" class="header-profile-pic" />
      </a>

      <nav class="main-nav">
        <a href="#home">Home</a>
        <a href="#film-acting">Film & Acting</a>
        <a href="#editing">Editing</a>
        <a href="#youtube">YouTube</a>
        <a href="#contact">Contact</a>
      </nav>

      <ThemeToggle client:load />
    </header>

    <main>
      <slot />
    </main>

    <footer class="main-footer">
      <p>&copy; 2026 Lukas Deemer. All Rights Reserved.</p>
    </footer>
  </body>
</html>